<h2 mat-dialog-title>New Disease Form</h2>
<mat-dialog-content>
  <div class="dialog-main-content">
    <mat-form-field class="disease-autocomplete" appearance="fill">
      <mat-label>OMIM Disease</mat-label>
      <input matInput placeholder="Search for an OMIM Disease " [formControl]="formControl"  ngDefaultControl
             [matAutocomplete]="hpo">
      <button mat-button *ngIf="formControl.value != null" matSuffix mat-icon-button
              aria-label="Clear" (click)="resetDiseaseControl()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="formControl.hasError('notFound')">
        Looks like there was an error with Monarch Services.
      </mat-error>
      <mat-autocomplete #hpo="matAutocomplete" (optionSelected)="selectDisease($event.option.value)"
                        [displayWith]="displayHpoFn">
        <mat-option class="auto-complete-option" *ngFor="let option of diseaseOptions" [value]="option">
          <span class="option-name">{{option.match}}</span>
          &nbsp;
          <span class="option-id">{{option.id}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="disease-information" *ngIf="selectedDisease">
      <h4><strong>Disease Name</strong>: {{selectedDisease.diseaseName}}</h4>
      <h4><strong>Disease Id</strong>: {{selectedDisease.diseaseId}}</h4>
      <h4 *ngIf="selectedDisease.description"><strong>Description</strong>: {{selectedDisease.description}}</h4>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button *ngIf="selectedDisease" (click)="saveNewDisease()" cdkFocusInitial>Submit</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</mat-dialog-content>
