<h2 mat-dialog-title>Source Selection</h2>
<mat-dialog-content class="mat-typography">
  <!-- Find disease or publication, then find all annotation sources for it. -->
  <div class="existing-curation" *ngIf="!newPublication">
    <div *ngIf="selectedDisease">
      <mat-selection-list #publications (selectionChange)="selectPublication($event.option.value)" multiple="false">
        <mat-list-option class="selection-wrapper" value="new">
          <mat-icon matListIcon>add_box</mat-icon>
          <div class="selection-text">
            <strong>Add New Publication for {{selectedDisease.diseaseName}}</strong>
          </div>
        </mat-list-option>
        <mat-list-option class="selection-wrapper"
                         *ngFor="let publication of annotatedPublications$ | async"
                         [value]="publication">
          <mat-icon matListIcon>library_books</mat-icon>
          <div class="selection-text" *ngIf="!isDiseaseSource(publication.publicationId)">
            {{publication.publicationName}}
            <span class="selection-id">{{publication.publicationId}}</span>
          </div>
          <div class="selection-text" *ngIf="isDiseaseSource(publication.publicationId)">
            {{publication.publicationName}}{{publication.publicationId}}
          </div>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
  <div class="new-curation" *ngIf="newPublication">
    <div class="publication-search">
      <mat-form-field appearance="outline">
        <mat-label>Publication</mat-label>
        <input matInput placeholder="PubMed Identifier" [formControl]="annotationSourceControl"
               [errorStateMatcher]="matcher" ngDefaultControl>
        <button mat-button *ngIf="annotationSourceControl.value != ''" matSuffix mat-icon-button aria-label="Clear"
                (click)="resetForm()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-hint *ngIf="!selectedPublication">Try: 31479590</mat-hint>
        <mat-error *ngIf="annotationSourceControl.hasError('required')">
          PubMed Identifier is <strong>required</strong>. Try: 31479590
        </mat-error>
        <mat-error *ngIf="annotationSourceControl.hasError('notFound')">
          Could not find data for this identifer. Please enter a full and valid PubMed Id.
        </mat-error>
      </mat-form-field>
    </div>
    <mat-progress-bar *ngIf="searchingPubMed" mode="indeterminate"></mat-progress-bar>
    <div *ngIf="selectedPublication">
      <div class="pubmed-publication">
        <h4><strong>Title</strong>: {{selectedPublication.title}}</h4>
        <h4><strong>PMID</strong>: {{selectedPublication.uid}}</h4>
        <h4><strong>Publication Date</strong>: {{selectedPublication.pubdate}}</h4>
        <h4><strong>First Author</strong>: {{selectedPublication.sortfirstauthor}}</h4>
      </div>
      <br>
      <p *ngFor="let checks of newPublicationChecks">
        <mat-checkbox [(ngModel)]="checks.completed"
                      [color]="checks.color"
                      (ngModelChange)="allTasksCompleted()">
          {{checks.name}}
        </mat-checkbox>
      </p>
    </div>
  </div>
</mat-dialog-content>
<div class="dialog-spacer"></div>
<mat-dialog-actions align="end">
  <button mat-button *ngIf="dialogRequirementsMet() && !newPublication" (click)="closeDialog()" cdkFocusInitial>Submit
  </button>
  <button mat-button *ngIf="newPublication && selectedPublication && allTasksCompleted()" (click)="saveNewPublication()"
          cdkFocusInitial>Save
  </button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
