.brand {
  margin-right: 1.5rem;
}

.nav-btn {
  text-transform: uppercase;
}

.content {
  height: 100%;
  overflow: auto;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
