<div class="navbar mat-elevation-z2">
  <mat-toolbar class="mat-elevation-z2" color="primary">
    <mat-toolbar-row>
      <div class="brand" routerLink="/">POET</div>
      <button routerLink="/" mat-button class="primary nav-btn">Home</button>
      <button routerLink="/portal/dashboard" mat-button class="primary nav-btn">Portal</button>
      <button mat-button class="primary nav-btn">Connect</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>


