<div class="portal-curate">
  <mat-toolbar class="top-banner" *ngIf="selectedDisease && selectedDisease.diseaseId !== null">
    <mat-toolbar-row>
      <h2 class="display-name">{{selectedDisease.diseaseName}} &nbsp;</h2>
      <div class="display-id">
        <a [href]="getExternalTermIdUrlFromId(selectedDisease.diseaseId)" target="_blank">{{selectedDisease.diseaseId}} <i class="material-icons">open_in_new</i></a>
        <a [href]="getExternalTermIdUrlFromId(selectedDisease.equivalentId)" target="_blank">{{selectedDisease.equivalentId}} <i class="material-icons">open_in_new</i></a>
      </div>
      <span class="spacer"></span>
      <div class="search-wrapper">
        <app-search [role]="user.role"></app-search>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="nav-tab-container" *ngIf="selectedDisease && selectedDisease.diseaseId !== null">
    <nav mat-tab-nav-bar color="primary">
      <a *ngFor="let annotation of annotationItems"
         (click)="changeCategory(annotation.value)"
         mat-tab-link
         [active]="this.selectedCategory === annotation.value" [disabled]="annotation.disabled"
         [matTooltip]="annotation.reason"
         [matTooltipDisabled]="annotation.reason === ''"
         matTooltipPosition="below">
        <mat-icon matListIcon> {{ annotation.icon }} </mat-icon>
        &nbsp;{{annotation.display}}&nbsp;<span *ngIf="annotation.count !== 0">({{annotation.count}})</span>
      </a>
    </nav>
  </div>
  <div class="curation-container" [fxLayout]="fxLayout" [fxLayoutAlign]="fxLayoutAlign" [@fadeIn]="selectedCategory">
    <app-annotation-card [fxFlex]="fxFlexAnnotations" [fxFlexOffset]="fxFlexAnnotationOffset" *ngIf="selectedDisease"
                         (openForm)="handleForm($event)" [user]="user" [formOpen]="showForm"></app-annotation-card>
    <app-treatment-curation [fxFlex]="fxFlexForm" [fxFlexOffset]="fxFlexFormOffset" [role]="user.role"
                             (handleForm)="handleForm($event)"
                            *ngIf="shouldShowTreatmentCard()">
    </app-treatment-curation>
    <app-phenotype-curation [fxFlex]="fxFlexForm" [fxFlexOffset]="fxFlexFormOffset"
                             [role]="user.role" (handleForm)="handleForm($event)" *ngIf="shouldShowPhenotypeCard()">
    </app-phenotype-curation>
  </div>
</div>
