<div class="search">
  <mat-form-field>
    <input matInput placeholder="Search Diseases or Publications" aria-label="State" [matAutocomplete]="auto" [formControl]="searchControl">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelection($event.option.value)" [displayWith]="displayFn.bind(this)">
      <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let response of filteredResponse" [value]="response">
          <span class="result-name"><b>{{response.name}}</b></span>&nbsp;
          <span class="result-id">{{response.id}}</span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
  <br>
  <ng-container *ngIf="errorMsg">
    {{errorMsg}}
  </ng-container>
</div>
