<div class="faq">
<mat-accordion>
  <mat-expansion-panel [expanded]="openPanel === 1" id = "hpo-relation">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>How is POET related to HPO & Monarch Initiative?</strong>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>The HPO is the clinical window of the <a href="https://monarchinitiative.org/" target="__blank">Monarch Initiative</a> which is an NIH supported project that integrates, aligns, and re-distributes
      cross-species gene, genotype, variant, disease, and phenotype data. <a href="https://monarchinitiative.org/" target="__blank">The Monarch Browser</a> allows users to browse not only human diseases but to see their links to other organisms, genes, phenotypes, and pathways, which
      may be of especial interest to translational researchers.</p>
    <p>POET, is a collaborative web application to curate and annotate information to disease, phenotypes, treatments and more..</p>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="openPanel === 2" id = "content-change">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>Am I allowed to change the contents of POET annotations?</strong>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>POET and HPO are community-driven projects. Suggesting changes or submitting new annotations is vital to correctly representing linked-information
      across the ontology, disease and treatment landscape. All suggested changes and updates will be reviewed by our core team of curators.</p>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="openPanel === 3" id = "annotation-use">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>How do these annotations get used?</strong>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>The terms of the HPO describe phenotypic abnormalities and do not directly describe diseases. Instead, the HPO project uses so-called annotations to describe the connection between diseases and HPO terms. For instance, the disease,
      <a href="https://hpo.jax.org/app/browse/disease/ORPHA:171719" target="_blank">Cutis laxa-Marfanoid syndrome </a> is annotated by the HPO terms for <a href="https://hpo.jax.org/app/browse/term/HP:0002827" target="_blank">Hip dislocation</a>, <a href="https://hpo.jax.org/app/browse/term/HP:0001371" target="_blank">Flexion contracture</a> and many more.</p>
  </mat-expansion-panel>
</mat-accordion>
</div>
