<div class="home" fxLayout="column" fxLayoutAlign="space-evenly center">
  <div class="call-to-action">
    <div class="title-wrapper">
      <img  class="logo-title" src="assets/poet-logo_white-banner.png"/>
      <h1 class="title" [@bounceInLeft]="bounceInLeft">Connecting clinical ontologies with expression.</h1>
      <div [@fadeIn]="fadeIn">
        <h1 class="sub-title">
          POET helps curators bridge ontologies with annotations from the literature.
        </h1>
        <button class="first-btn" (click)="signupWithredirect()" *ngIf="!user" mat-raised-button color="accent">Sign up for Free</button>
        <button mat-stroked-button routerLink="/portal/dashboard" *ngIf="!user">Tour Portal</button>
        <button class="first-btn" [routerLink]="['/portal/dashboard']" *ngIf="user"  mat-raised-button color="accent">Dashboard</button>
      </div>
    </div>
  </div>
  <div class="banner-supported" fxLayout="row" fxLayoutAlign="center" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-evently center"
       [@fadeIn]="fadeIn">
      <div class="icon-wrapper" *ngFor="let item of supported">
        <a [href]="item.link" target="_blank">
          <img class="icon" [src]="item.imageSrc" [alt]="item.name"/>
        </a>
      </div>
  </div>
</div>
