<div class="review-wrapper"  fxLayout="column" fxLayoutAlign="start start">
  <h3 class="page-title mat-elevation-z1">Elevated Curator Approvals</h3>
  <div class="review-tables">
    <div class="review-table">
      <table mat-table [dataSource]="phenotypeDataSource" class="mat-elevation-z8"
             *ngIf="phenotypeDataSource.data.length > 0">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedPhenotypeColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedPhenotypeColumns;"></tr>
      </table>
    </div>
    <div class="review-table">
      <table mat-table [dataSource]="treatmentDataSource" class="mat-elevation-z8"
             *ngIf="treatmentDataSource.data.length > 0">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedTreatmentColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedTreatmentColumns;"></tr>
      </table>
    </div>
    <div class="no-reviews" *ngIf="!hasReviews()">
      <h1>No New Reviews</h1>
    </div>

  </div>
</div>
