.review-wrapper {

  & .review-tables {
    margin: 0 auto;
    text-align: center;
    & .review-table {
      margin-bottom: 2rem;
    }
  }

  & .no-reviews {
    text-align: center;
    color: whitesmoke;
    & h1 {
      font-weight: 200 !important;
    }
  }
}
