<div>
  <mat-form-field>
    <input class="monarch-input" matInput placeholder="Search for a disease" aria-label="State" [matAutocomplete]="auto" [formControl]="searchControl">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectDisease($event.option.value)" [displayWith]="displayFn.bind(this)">
      <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let result of filteredResponse" [value]="result">
          <span class="mondo-name"><b>{{result.match}}</b></span>&nbsp;
          <span class="mondo-id">{{result.id}}</span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
  <br>
  <ng-container *ngIf="errorMsg">
    {{errorMsg}}
  </ng-container>
</div>
