<div class="search">
  <mat-form-field>
    <input matInput placeholder="Search for a disease" aria-label="State" [matAutocomplete]="auto"
           [formControl]="searchControl" #search>
    <button mat-button *ngIf="searchControl.value != null" matSuffix mat-icon-button aria-label="Clear" (click)="resetSearchForm()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error *ngIf="searchControl.hasError('notFound')">
      Looks like there was an error with Monarch Services.
    </mat-error>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelection($event.option.value)"
                      [displayWith]="utilityService.displayMonarchSearchFn.bind(this)">
      <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let disease of diseaseOptions" [value]="disease" [ngClass]="{'new-disease': disease.type == 'new'}">
          <div class="result-name"><b>{{disease.label}}</b></div>&nbsp;
          <div class="result-id">
            {{disease.id}}<span *ngIf="disease.omim_id"> - </span> {{disease.omim_id}}
          </div>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
  <br>
  <ng-container *ngIf="errorMsg">
    {{errorMsg}}
  </ng-container>
</div>
