.brand {
  margin-right: 1rem;
  cursor: pointer;
  outline: 0;

  & .icon {
    height: 50px;
    width: 50px;
    margin-top: .5rem;

    &:hover {
      opacity: .75;
    }
  }
}

.nav-btn {
  text-transform: uppercase;
}

.content {
  height: 100%;
  overflow: auto;

  &.curate {
    background: #393939;
  }

  background: #2c3e4c;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.portal-actions {
  & .home {
    text-transform: uppercase;
  }
}

.nickname {
  cursor: pointer;
  outline: 0;
  &:hover {
    opacity: 0.6;
  }
}
