<div fxLayout="column" fxFlexFill>
  <mat-toolbar class="mat-elevation-z2 navbar" color="primary">
    <mat-toolbar-row>
      <div class="brand" routerLink="/">
        <img matTooltip="Homepage" matTooltipShowDelay="775" class="icon" src="assets/poet-logo_white-icon-only.png"/>
      </div>
      <button mat-button *ngIf="auth.isAuthenticated$ | async" [routerLink]="['/dashboard']">Dashboard</button>
      <button mat-button [routerLink]="['/resources']">Resources</button>
      <div fxFlex class="toolbar-spacer"></div>
      <div class="nickname" *ngIf="auth.user$ | async as user">
        <span *ngIf="user.nickname">{{user.nickname}}</span>
      </div>
      <ng-container *ngIf="isHomePage() && (auth.isLoading$ | async); else loggedIn">
        <mat-spinner diameter="25" color="warn"></mat-spinner>
      </ng-container>
      <ng-template #loggedIn>
        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
          <button mat-icon-button class="primary nav-btn" (click)="auth.logout({ returnTo: document.location.origin })"
                  matTooltip="Logout">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </ng-container>
      </ng-template>
      <ng-template #loggedOut>
        <ng-container>
          <button *ngIf="!(auth.isLoading$ | async)" mat-button class="primary nav-btn" (click)="loginWithRedirect()">Login</button>
        </ng-container>
      </ng-template>
    </mat-toolbar-row>
  </mat-toolbar>
  <div [ngClass]="{'content': true, 'curate': isCuratePage()}" fxFlex>
    <router-outlet></router-outlet>
  </div>
  <footer class="footer mat-elevation-z4">
    <div fxLayout="column" fxLayoutAlign="center">
      <div class="footer-row" fxLayout="row" fxLayoutAlign="center center">
        <small><i>{{version}} - <a href="https://github.com/TheJacksonLaboratory/POET/issues/new">Report an issue</a></i></small>
      </div>
    </div>
  </footer>
</div>


