.brand {
  margin-right: 1rem;
  cursor: pointer;
  outline: 0;

  & .icon {
    height: 50px;
    width: 50px;
    margin-top: .5rem;

    &:hover {
      opacity: .75;
    }
  }
}

.content {
  &.curate {
    background: #393939;
  }
  background: #2c3e4c;
}

.portal-actions {
  & .home {
    text-transform: uppercase;
  }
}

.nickname {
  cursor: pointer;
  outline: 0;
  &:hover {
    opacity: 0.6;
  }
}

.beta-button {
  background-color: indianred;
  color: white;
  cursor: default;
  text-transform: uppercase;
}

.footer {
  background-color: #393939;
  color: white;
  height: 48px;

  .footer-row {
    padding: 0 1rem;
  }

  & > div {
    height: 100%;
  }
}
