<div class="container">
  <div>
    <h1 class="contact">Contact</h1>
    <h4 class="contact">Please feel free to reach out to us!</h4>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div class="contact-general" fxFlex.gt-sm="50" fxFlexOffset="25" fxLayout="column">
        <div class="contact-card" fxLayout="row" *ngFor="let contact of generalContacts">
          <div class="contact-img">
            <img [src]="contact.src" [alt]="contact.name">
          </div>
          <div class="contact-bio" fxFlex="85">
            <h3>{{contact.name}}</h3>
            <h4>{{contact.affiliation}}</h4>
            <a [href]="'mailto:' + contact.email" target="_blank">
              <mat-icon>email_outline</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
