<mat-card class="annotation-card">
  <mat-card-title>
    <span *ngIf="category == 'treatment'">Treatments</span>
    <span *ngIf="category == 'phenotype'">Phenotypes</span>
    <button class="add-annotation-btn-top" mat-mini-fab color="primary" aria-label="Add Annotation"
            *ngIf="isUser() && ((treatmentAnnotations | async)?.length > 0 && this.category == 'treatment') ||
            ((phenotypeAnnotations | async)?.length > 0 && this.category == 'phenotype')"
            (click)="annotationAction(null, 'create')">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-subtitle>
    <span *ngIf="category == 'treatment'">A list of curated medical actions for this disease.</span>
    <span *ngIf="category == 'phenotype'">A list of curated phenotypes of this disease</span><br><br>
  </mat-card-subtitle>
  <mat-card-content>
    <mat-progress-bar mode="buffer" *ngIf="loadingAnnotations"></mat-progress-bar>
    <div class="filter-wrapper" *ngIf="(category === 'phenotype' && (phenotypeAnnotations | async)?.length > 0) ||
                                        (category === 'treatment' && (treatmentAnnotations | async)?.length > 0)">
      <mat-form-field class="filter-container">
        <mat-label>Annotation Status</mat-label>
        <mat-select multiple [(value)]="selectedStatuses" (selectionChange)="resetPaginator()">
          <mat-select-trigger>
            {{selectedStatuses ? selectedStatuses[0] : ''}}
            <span *ngIf="selectedStatuses?.length > 1" class="example-additional-selection">
              (+{{selectedStatuses.length - 1}} {{selectedStatuses?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let status of annotationStatuses" [value]="status"
                      [class]="{'statusApproved': status === 'ACCEPTED', 'statusReview': status === 'UNDER_REVIEW',
                      'statusOfficial': status === 'OFFICIAL', 'statusNeedsWork': status === 'NEEDS_WORK'}">
            {{status}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filter-container">
        <mat-label>Sort By</mat-label>
        <mat-select [(ngModel)]="selectedSort" (selectionChange)="resetPaginator()">
          <mat-option value="recent">Most Recent</mat-option>
          <mat-option value="name"><span class="capitalize">{{category}}</span> Name</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="filter-container mat-form-field">
        <mat-checkbox [(ngModel)]="showAll" (change)="resetPaginator()"> Show Other Curators </mat-checkbox>
      </div>
    </div>

    <mat-list *ngIf="category === 'treatment'">
      <mat-list-item class="selection-wrapper mat-elevation-z3"
                     [ngClass]="{'active': treatment == activeAnnotation}"
                     *ngFor="let treatment of treatmentAnnotations | async | filter: selectedStatuses:user:showAll:filteredAnnotationLength | sortBy: selectedSort:category | slice:lowValue:highValue ">
        <mat-icon [class]="{'statusApproved': treatment.status === 'ACCEPTED', 'statusReview': treatment.status === 'UNDER_REVIEW',
                      'statusOfficial': treatment.status === 'OFFICIAL', 'statusNeedsWork': treatment.status === 'NEEDS_WORK'}" matListIcon>health_and_safety</mat-icon>
        <div class="selection-text">
          <span matLine>
            <strong>{{treatment.maxoName}}</strong> {{treatment.relation}} <strong>{{treatment.hpoName}}</strong>
          </span>
        </div>
        <div class="spacer"></div>
        <a mat-icon-button aria-label="Report Treatment Annotation" *ngIf="isOfficial(treatment.status)"
           href="https://github.com/monarch-initiative/MAxO/issues/new" target="_blank">
          <mat-icon>bug_report</mat-icon>
        </a>
        <button mat-icon-button aria-label="Edit Treatment Annotation" *ngIf="(isUser() && ownsAnnotation(treatment.owner.nickname)
        && !isOfficial(treatment.status) || isElevatedCurator() && !isUnderReview(treatment.status))" [disabled]="!isUser()"
                (click)="annotationAction(treatment, 'edit')">
          <mat-icon>create</mat-icon>
        </button>
        <button mat-icon-button aria-label="Delete Treatment Annotation" *ngIf="(isUser() && ownsAnnotation(treatment.owner.nickname) && !isOfficial(treatment.status))"
                [disabled]="!isUser()"
                (click)="annotationAction(treatment, 'delete')">
          <mat-icon>delete</mat-icon>
        </button>
        <button *ngIf="isElevatedCurator() && isUnderReview(treatment.status) else elseBlock"
                mat-flat-button color="warn" aria-label="Review Treatment Annotation"
                (click)="annotationAction(treatment, 'view')"
        class="needs-review-btn">
          Needs Review
        </button>
        <ng-template #elseBlock>
          <button mat-icon-button aria-label="View Treatment Annotation"
                  (click)="annotationAction(treatment, 'view')" *ngIf="!needsWork(treatment.status)">
            <mat-icon>launch</mat-icon>
          </button>
        </ng-template>
      </mat-list-item>
    </mat-list>
    <mat-list *ngIf="category === 'phenotype'" class="phenotype-list">
      <mat-list-item class="selection-wrapper mat-elevation-z3"
                     [ngClass]="{'active': phenotype == activeAnnotation}"
                     *ngFor="let phenotype of phenotypeAnnotations | async | filter: selectedStatuses:user:showAll:filteredAnnotationLength | sortBy: selectedSort:category | slice:lowValue:highValue ">
        <mat-icon matListIcon [class]="{'statusApproved': phenotype.status === 'ACCEPTED', 'statusReview': phenotype.status === 'UNDER_REVIEW',
                      'statusOfficial': phenotype.status === 'OFFICIAL', 'statusNeedsWork': phenotype.status === 'NEEDS_WORK'}">attribution</mat-icon>
        <div matLine class="selection-text" *ngIf="formOpen">
          <strong>{{phenotype.hpoName}}</strong>
          <span class="selection-id">
             {{phenotype.hpoId}}
          </span>
        </div>
        <div matLine class="selection-text" *ngIf="!formOpen">
          <strong>{{phenotype.hpoName}}</strong>
          <span class="selection-id">
            {{phenotype.hpoId}}
          </span>
        </div>
        <div class="spacer"></div>
        <a mat-icon-button aria-label="Report Phenotype Annotation" *ngIf="isOfficial(phenotype.status) && !isElevatedCurator()"
           href="https://github.com/monarch-initiative/hpo-annotation-data/issues/new" target="_blank">
          <mat-icon>bug_report</mat-icon>
        </a>
        <button mat-icon-button aria-label="Edit Phenotype Annotation" *ngIf="(isUser() && ownsAnnotation(phenotype.owner.nickname)
        && !isOfficial(phenotype.status) || isElevatedCurator() && !isUnderReview(phenotype.status))" [disabled]="!isUser()"
                (click)="annotationAction(phenotype, 'edit')">
          <mat-icon>create</mat-icon>
        </button>
        <button mat-icon-button aria-label="Delete Phenotype Annotation" *ngIf="(isUser() && ownsAnnotation(phenotype.owner.nickname)
        && !isOfficial(phenotype.status))"
                [disabled]="!isUser()"
                (click)="annotationAction(phenotype, 'delete')">
          <mat-icon>delete</mat-icon>
        </button>
        <button *ngIf="isElevatedCurator() && isUnderReview(phenotype.status) else elseBlock"
                mat-flat-button color="warn" aria-label="Review Phenotype Annotation"
                (click)="annotationAction(phenotype, 'view')"
                class="needs-review-btn">
          Needs Review
        </button>
        <ng-template #elseBlock>
          <button mat-icon-button aria-label="View Phenotype Annotation"
                  (click)="annotationAction(phenotype, 'view')" *ngIf="!needsWork(phenotype.status)">
            <mat-icon>launch</mat-icon>
          </button>
        </ng-template>
      </mat-list-item>
    </mat-list>
    <mat-paginator #treatmentPaginator *ngIf="(treatmentAnnotations | async)?.length > 0 && category === 'treatment'"
                   pageSize="10"
                   [length]="filteredAnnotationLength.count"
                   (page)="getPaginatorData($event)"
                   showFirstLastButtons="false">
    </mat-paginator>
    <mat-paginator #phenotypePaginator *ngIf="(phenotypeAnnotations | async)?.length > 0 && category === 'phenotype'"
                   (page)="getPaginatorData($event)"
                   [length]="filteredAnnotationLength.count"
                   pageSize="10"
                   showFirstLastButtons="false">
    </mat-paginator>
    <div class="annotation-missing" *ngIf="((treatmentAnnotations | async)?.length == 0 && this.category == 'treatment')
    || ((phenotypeAnnotations | async)?.length == 0  && this.category == 'phenotype')">
      No {{categoryToDisplay()}} Found.
    </div>
    <button class="add-annotation-btn" mat-mini-fab color="primary" aria-label="Add Annotation"
            *ngIf="isUser() && ((treatmentAnnotations | async)?.length == 0 && this.category == 'treatment')
    || ((phenotypeAnnotations | async)?.length == 0  && this.category == 'phenotype')"
            (click)="annotationAction(null, 'create')">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
