<mat-card class="annotation-card">
  <mat-card-title>
    <span *ngIf="category == 'treatment'">Treatments</span>
    <span *ngIf="category == 'phenotype'">Phenotypes</span>
    <button class="add-annotation-btn-top" mat-mini-fab color="primary" aria-label="Add Annotation"
            *ngIf="isUser() && ((treatmentAnnotations | async)?.length > 0 && this.category == 'treatment') ||
            ((phenotypeAnnotations | async)?.length > 0 && this.category == 'phenotype')"
            (click)="annotationAction($event, null, 'create')"
            matTooltip="New Annotation" matTooltipPosition="above" matTooltipShowDelay="775">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-subtitle>
    <span *ngIf="category == 'treatment'">A list of curated medical actions for this disease.</span>
    <span *ngIf="category == 'phenotype'">A list of curated phenotypes of this disease</span><br><br>
  </mat-card-subtitle>
  <mat-card-content>
    <!-- Filters -->
    <mat-progress-bar mode="buffer" *ngIf="loadingAnnotations"></mat-progress-bar>
    <div class="filter-wrapper" *ngIf="(category === 'phenotype' && (phenotypeAnnotations | async)?.length > 0) ||
                                        (category === 'treatment' && (treatmentAnnotations | async)?.length > 0)">
      <mat-form-field class="filter-container">
        <mat-label>Annotation Status</mat-label>
        <mat-select multiple [(value)]="selectedStatuses" (selectionChange)="resetPaginator()">
          <mat-select-trigger>
            {{selectedStatuses ? selectedStatuses[0] : ''}}
            <span *ngIf="selectedStatuses?.length > 1" class="example-additional-selection">
              (+{{selectedStatuses.length - 1}} {{selectedStatuses?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let status of annotationStatuses" [value]="status"
                      [class]="{'statusApproved': status === 'ACCEPTED', 'statusReview': status === 'UNDER_REVIEW',
                      'statusOfficial': status === 'OFFICIAL', 'statusNeedsWork': status === 'NEEDS_WORK'}">
            {{status}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filter-container">
        <mat-label>Sort By</mat-label>
        <mat-select [(ngModel)]="selectedSort" (selectionChange)="resetPaginator()">
          <mat-option value="recent">Most Recent</mat-option>
          <mat-option value="name"><span class="capitalize">{{category}}</span> Name</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="filter-container mat-form-field">
        <mat-checkbox [(ngModel)]="showAll" (change)="resetPaginator()"> Show Other Curators </mat-checkbox>
      </div>
    </div>
    <!------>
    <mat-list *ngIf="category === 'treatment'" class="treatment-list">
      <mat-list-item class="selection-wrapper mat-elevation-z3"
                     [ngClass]="{'active': treatment == activeAnnotation}"
                     *ngFor="let treatment of treatmentAnnotations | async | filter: selectedStatuses:user:showAll:filteredAnnotationLength | sortBy: selectedSort:category | slice:lowValue:highValue "
                     (click)="annotationAction($event, treatment, 'view')">
        <mat-icon *ngIf="treatment.status === 'OFFICIAL'" class="statusOfficial statusIcon"
                  [matTooltip]="getStatusTooltipText(treatment.status)" matTooltipShowDelay="775" matListIcon>verified</mat-icon>
        <mat-icon [ngClass]="{'statusIcon': true, 'statusApproved': treatment.status === 'ACCEPTED', 'statusReview': treatment.status === 'UNDER_REVIEW',
        'statusNeedsWork': treatment.status === 'NEEDS_WORK'}"  *ngIf="treatment.status === 'ACCEPTED' || treatment.status === 'UNDER_REVIEW' || treatment.status === 'NEEDS_WORK'"
                  [matTooltip]="getStatusTooltipText(treatment.status) " matTooltipShowDelay="775" matListIcon>fiber_manual_record</mat-icon>
        <div class="selection-text" matLine>
            <strong>{{treatment.maxoName}}</strong> {{treatment.relation}} <strong>{{treatment.hpoName}}</strong>
        </div>
        <div class="spacer"></div>
        <button mat-icon-button
                aria-label="Delete Treatment Annotation"
                matTooltip="Delete This Treatment Annotation"
                matTooltipShowDelay="775"
                *ngIf="showDeleteAnnotation(treatment)"
                [disabled]="!this.userService.isUser(this.user)"
                (click)="annotationAction($event, treatment, 'delete')">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
        <button mat-icon-button
                aria-label="Edit Treatment Annotation"
                matTooltip="Edit This Treatment Annotation"
                matTooltipShowDelay="775"
                *ngIf="showEditAnnotation(treatment)"
                [disabled]="!this.userService.isUser(this.user)"
                (click)="annotationAction($event, treatment, 'edit')">
          <mat-icon>draw</mat-icon>
        </button>
        <button *ngIf="showAnnotationNeedsReview(treatment) else elseWorkBlock"
                mat-flat-button color="warn" aria-label="Review Treatment Annotation"
                (click)="annotationAction($event, treatment, 'view')"
        class="needs-review-btn">
          Needs Review
        </button>
        <ng-template #elseWorkBlock>
          <button *ngIf="showAnnotationNeedsWork(treatment)"
            mat-flat-button color="warn" aria-label="Needs Work Annotation"
            (click)="annotationAction($event, treatment, 'edit')" class="needs-work-btn">
            Needs Work
          </button>
        </ng-template>
      </mat-list-item>
    </mat-list>
    <mat-list *ngIf="category === 'phenotype'" class="phenotype-list">
      <mat-list-item class="selection-wrapper mat-elevation-z3"
                     *ngFor="let phenotype of phenotypeAnnotations | async | filter: selectedStatuses:user:showAll:filteredAnnotationLength | sortBy: selectedSort:category | slice:lowValue:highValue "
                     [ngClass]="{'active': isActive(phenotype)}"
                     (click)="annotationAction($event, phenotype, 'view')">
        <mat-icon *ngIf="phenotype.status === 'OFFICIAL'" class="statusOfficial statusIcon"
                  [matTooltip]="getStatusTooltipText(phenotype.status)" matListIcon>verified</mat-icon>
        <mat-icon [ngClass]="{'statusIcon': true, 'statusApproved': phenotype.status === 'ACCEPTED', 'statusReview': phenotype.status === 'UNDER_REVIEW',
        'statusNeedsWork': phenotype.status === 'NEEDS_WORK'}" *ngIf="phenotype.status === 'ACCEPTED' || phenotype.status === 'UNDER_REVIEW' || phenotype.status === 'NEEDS_WORK'" matListIcon>fiber_manual_record</mat-icon>
        <div matLine class="selection-text">
          <strong>{{phenotype.hpoName}}</strong>
          <span class="selection-id" (click)="getTermDefinitionTooltipText($event, definitionTooltip, phenotype.hpoId)"
          (mouseout)="definitionTooltip.hide()">
            {{phenotype.hpoId}}
          </span>
          <span #definitionTooltip="matTooltip" [matTooltip]="" matTooltipPosition="after"></span>
        </div>
        <div class="spacer"></div>
        <button mat-icon-button aria-label="Delete Phenotype Annotation"
                matTooltip="Delete This Phenotype Annotation"
                matTooltipPosition="above"
                matTooltipShowDelay="775"
                *ngIf="showDeleteAnnotation(phenotype)"
                [disabled]="!this.userService.isUser(this.user)"
                (click)="annotationAction($event, phenotype, 'delete')">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
        <button mat-icon-button
                aria-label="Create Treatment For Phenotype Annotation"
                matTooltip="Create Treatment For This Annotation" matTooltipPosition="above"
                matTooltipShowDelay="775"
                *ngIf="showCreateTreatment(phenotype)"
                [disabled]="!isUser()" (click)="createTreatmentForPhenotype(phenotype)">
          <mat-icon>medication</mat-icon>
        </button>
        <button mat-icon-button aria-label="Edit Phenotype Annotation"
                matTooltip="Edit This Phenotype Annotation"
                matTooltipPosition="above"
                matTooltipShowDelay="775"
                *ngIf="showEditAnnotation(phenotype)" [disabled]="!isUser()"
                (click)="annotationAction($event, phenotype, 'edit')">
          <mat-icon>draw</mat-icon>
        </button>
        <button *ngIf="showAnnotationNeedsReview(phenotype) else elseWorkBlock"
                mat-flat-button color="warn" aria-label="Review Phenotype Annotation"
                (click)="annotationAction($event, phenotype, 'view')"
                class="needs-review-btn">
          Needs Review
        </button>
        <ng-template #elseWorkBlock>
          <button *ngIf="showAnnotationNeedsWork(phenotype)"
                  mat-flat-button color="warn" aria-label="Needs Work Annotation"
                  (click)="annotationAction($event, phenotype, 'edit')"
                  class="needs-work-btn">
            Needs Work
          </button>
        </ng-template>
      </mat-list-item>
    </mat-list>
    <mat-paginator #treatmentPaginator *ngIf="(treatmentAnnotations | async)?.length > 0 && category === 'treatment'"
                   pageSize="10"
                   [length]="filteredAnnotationLength.count"
                   (page)="getPaginatorData($event)"
                   showFirstLastButtons="false">
    </mat-paginator>
    <mat-paginator #phenotypePaginator *ngIf="(phenotypeAnnotations | async)?.length > 0 && category === 'phenotype'"
                   (page)="getPaginatorData($event)"
                   [length]="filteredAnnotationLength.count"
                   [pageSizeOptions]="[10, 50, 100, 500]"
                   showFirstLastButtons="false">
    </mat-paginator>
    <div class="annotation-missing" *ngIf="((treatmentAnnotations | async)?.length == 0 && this.category == 'treatment')
    || ((phenotypeAnnotations | async)?.length == 0  && this.category == 'phenotype') && !loadingAnnotations">
      No {{categoryToDisplay()}} Found.
    </div>
    <button class="add-annotation-btn" mat-mini-fab color="primary" aria-label="Add Annotation"
            *ngIf="isUser() && ((treatmentAnnotations | async)?.length == 0 && this.category == 'treatment')
    || ((phenotypeAnnotations | async)?.length == 0  && this.category == 'phenotype') && !loadingAnnotations"
            (click)="annotationAction($event,null, 'create')">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
