.annotation-card {

  .mat-card-title {
    text-transform: uppercase;
  }
  .mat-card-title, .mat-card-subtitle {
    text-align: center;
  }

  .source-subtitle {
    .mat-icon {
      vertical-align: bottom;
    }

    .title-id {
      font-weight: 500;
      margin: 1rem;
    }
   }
}
