.annotation-card {
  box-shadow: none !important;
  background-color: #393939;
  .mat-card-title, .mat-card-subtitle {
    text-align: center;
  }

  .source-subtitle {
    .mat-icon {
      vertical-align: bottom;
    }

    .title-id {
      font-weight: 500;
      margin: 1rem;
    }
  }

  & .selection-id {
    font-size: 1rem;
    text-transform: capitalize;
  }

  & .add-annotation-btn {
    color: white;
  }

  & .annotation-missing {
      text-align: center;
  }
}
