<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true">
    <div class="top-sidenav">
      <mat-icon (click)="sidenav.toggle(); toggleSidenav()" class="close-sidebar">close</mat-icon>
      <br>
      <h3 class="username-sidenav" [routerLink]="['/portal/dashboard']"> USERNAME </h3>
    </div>
    <mat-nav-list>
      <h2 matSubheader> Actions </h2>
      <a *ngFor="let item of sideNavItems"
         mat-list-item
         (click)="sidenav.toggle(); toggleSidenav()"
         [routerLink]="[item.route]"
         routerLinkActive="list-item-active"
         [routerLinkActiveOptions]="{exact:true}">
        <mat-icon matListIcon> {{ item.icon }} </mat-icon>
        &nbsp;{{item.title}}
      </a>

      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="toggle-container" *ngIf="!isSideNavOpen">
      <div (click)="sidenav.toggle(); toggleSidenav()"  class="toggler">
        <mat-icon>menu</mat-icon>
      </div>
    </div>
    <div class="outlet-container">
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
