mat-sidenav-container {
  height: 100%;
  background-color: white;
}

.close-sidebar {
  float: right;
}


.top-sidenav {
  padding: .5rem .5rem 0 1rem;

  & mat-icon {
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}

.mat-list-item:hover {
  background-color: darkslategrey !important;
}

.list-item-active {
  background-color: darkslategrey;
}

.toggler {
  color: white;
  width: fit-content;
  position: absolute;
  top: calc(40% - 64px);
  padding: 5rem 0.25rem;
  & mat-icon {
    font-size: 36px;
    height: 36px;
    width: 36px;
  }
  &:hover {
    cursor: pointer;
    opacity: 0.75;
  }
  background-color: var(--primary-color);
}

.outlet-container {
    padding: 1rem;

    &.sidenav-closed {
      margin-left: 44px;
    }
}

.username-sidenav {
    cursor: pointer;
    outline: 0;
    text-transform: UPPERCASE;
    margin: 1rem 0 .5rem 0;
    font-weight: bold;
    &:hover {
        opacity: .8;
    }
}


.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.mat-progress-bar {
  z-index: 99;
  margin-top: 64px;
}
