<mat-card class="phenotype-card form-card">
  <mat-card-title>
    <mat-icon class="mode-icon lock" *ngIf="formControlGroup.disabled"
              matTooltip="View Mode Only"
              matTooltipPosition="below">
      lock
    </mat-icon>
    <mat-icon class="mode-icon unlock" *ngIf="!formControlGroup.disabled"
              matTooltip="Editing Mode"
              matTooltipPosition="below">
      lock_open
    </mat-icon>
    New Phenotype
    <mat-icon class="help-icon" matTooltip="Use Phenotypic Abnormality when annotating to the disease itself."
              matTooltipPosition="below">help_outline
    </mat-icon>
  </mat-card-title>
  <mat-card-subtitle>
    Human Phenotype Ontology [ HPO ] <br><br>
  </mat-card-subtitle>
  <mat-card-content>
    <button mat-raised-button color="primary" (click)="selectPublication()"
            *ngIf="selectedPublications.length === 0">Select Source
    </button>
    <mat-list class="publication-list" aria-label="publication selection">
      <mat-list-item *ngFor="let publication of selectedPublications">
        {{publication.publicationName}} {{publication.publicationId}}
        <span class="spacer"></span>
        <mat-icon class="remove-icon" (click)="removePublication(publication)" *ngIf="!formControlGroup.disabled && !updating">cancel</mat-icon>
      </mat-list-item>
    </mat-list>
    <form [formGroup]="formControlGroup">
      <div class="form-content-section">
        <mat-form-field class="phenotype-form" appearance="fill">
          <mat-label>HPO Term</mat-label>
          <input matInput placeholder="Search for an HPO Term" formControlName="hpoFormControl" ngDefaultControl
                 [matAutocomplete]="hpo">
          <button mat-button *ngIf="formControlGroup.get('hpoFormControl').value != null" matSuffix mat-icon-button
                  aria-label="Clear" (click)="formControlGroup.get('hpoFormControl').reset()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint *ngIf="!selectedHpo">Try: arachnodactyly</mat-hint>
          <mat-error *ngIf="formControlGroup.get('hpoFormControl').hasError('notFound')">
            Looks like there was an error with the HPO API.
          </mat-error>
          <mat-autocomplete #hpo="matAutocomplete" (optionSelected)="selectedHpo = $event.option.value"
                            [displayWith]="displayHpoFn">
            <mat-option class="auto-complete-option" *ngFor="let option of hpoOptions" [value]="option">
              <span class="option-name">{{option.name}}</span>
              &nbsp;
              <span class="option-id">{{option.id}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="form-content-section">
        <mat-form-field class="phenotype-form" appearance="fill">
          <mat-label>HPO Clinical Modifiers</mat-label>
          <mat-chip-list #chipList aria-label="Modifier Selection">
            <mat-chip
              *ngFor="let modifier of selectedModifiers"
              [removable]="true"
              (removed)="removeModifiers(modifier)">
              {{modifier}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Add HPO Modifier"
              #modifierInput
              formControlName="modifierFormControl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let modifier of modifierOptions" [value]="modifier">
              {{modifier.name}} {{modifier.ontologyId}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="form-content-section">
        <mat-form-field appearance="fill">
          <mat-label>HPO Age Of Onset</mat-label>
          <input matInput placeholder="Search for an HPO Age of Onset" formControlName="onsetFormControl" ngDefaultControl
                 [matAutocomplete]="hpo">
          <button mat-button *ngIf="formControlGroup.get('onsetFormControl').value != null" matSuffix mat-icon-button
                  aria-label="Clear" (click)="formControlGroup.get('onsetFormControl').reset()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint *ngIf="!selectedHpo">Try: Childhood onset</mat-hint>
          <mat-error *ngIf="formControlGroup.get('hpoFormControl').hasError('notFound')">
            Looks like there was an error with the HPO API.
          </mat-error>
          <mat-autocomplete #hpo="matAutocomplete" (optionSelected)="selectedHpo = $event.option.value"
                            [displayWith]="displayHpoFn">
            <mat-option class="auto-complete-option" *ngFor="let option of onsetOptions" [value]="option">
              <span class="option-name">{{option.name}}</span>
              &nbsp;
              <span class="option-id">{{option.ontologyId}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="ml1" appearance="fill">
          <mat-label>Frequency</mat-label>
          <input matInput type="text" formControlName="frequencyFormControl"  (keydown.enter)="$event.preventDefault()">
          <mat-hint>N / M observations</mat-hint>
          <button mat-button *ngIf="formControlGroup.get('frequencyFormControl').value != ''" matSuffix mat-icon-button
                  aria-label="Clear"
                  (click)="formControlGroup.get('frequencyFormControl').reset()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="ml1" appearance="fill">
          <mat-label>Evidence</mat-label>
          <mat-select formControlName="evidenceFormControl">
            <mat-option [value]="'TAS'">TAS</mat-option>
            <mat-option [value]="'IEA'">IEA</mat-option>
            <mat-option [value]="'PCS'">PCS</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-content-section">
        <label id="example-radio-group-label">Sex: </label>
        <mat-radio-group aria-label="Select a gender" formControlName="sexFormControl">
          <mat-radio-button checked="true" value="FEMALE">FEMALE</mat-radio-button>
          <mat-radio-button value="MALE">MALE</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="form-content-section">
        <mat-form-field class="phenotype-form">
          <mat-label>Additional Annotation Description</mat-label>
          <input matInput type="text" formControlName="commentFormControl">
          <button mat-button *ngIf="formControlGroup.get('commentFormControl').value != ''" matSuffix mat-icon-button
                  aria-label="Clear"
                  (click)="formControlGroup.get('commentFormControl').reset()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <div class="left-actions">
      <button mat-raised-button color="primary" *ngIf="everythingValid()" (click)="submitForm()">SUBMIT</button>
      <mat-spinner color="accent" [diameter]="20" mode="indeterminate" *ngIf="savingAnnotation"></mat-spinner>
    </div>
    <div class="right-actions">
      <button mat-stroked-button *ngIf="!formControlGroup.disabled">Save Draft</button>
      <button mat-stroked-button (click)="resetPhenotypeForm()" *ngIf="!formControlGroup.disabled">Clear</button>
      <button mat-stroked-button (click)="closeForm()" *ngIf="formControlGroup.disabled">Close</button>
    </div>
  </mat-card-actions>
</mat-card>
