<mat-card class="phenotype-card form-card">
  <mat-card-title>
    <mat-icon class="form-icon-left lock" *ngIf="formControlGroup.disabled"
              matTooltip="View Mode Only"
              matTooltipPosition="below">
      lock
    </mat-icon>
    <mat-icon class="form-icon-left unlock" *ngIf="!formControlGroup.disabled"
              matTooltip="Editing Mode"
              matTooltipPosition="below">
      lock_open
    </mat-icon>
    <mat-icon class="form-icon-left messages" *ngIf="utilityService.hasReviewerComments(selectedAnnotation)
    && utilityService.isNeedsWork(this.selectedAnnotation)"
              (click)="utilityService.openMessagesDialog(this.selectedAnnotation.reviewMessages)">
      mark_chat_unread
    </mat-icon>
    New Phenotype
    <mat-icon class="help-icon" (click)="closeForm()">cancel</mat-icon>
  </mat-card-title>
  <mat-card-subtitle>
    Human Phenotype Ontology [ HPO ]
    <p class="extra-information" *ngIf="selectedAnnotation?.owner.nickname">
      {{selectedAnnotation.owner.nickname}} updated on {{selectedAnnotation.lastUpdatedDate | date: 'medium':"EST"}} </p>
  </mat-card-subtitle>
  <mat-card-content>
    <button mat-raised-button color="primary" (click)="selectPublication()"
            *ngIf="selectedPublications.length === 0">Select Source
    </button>
    <span class="source-required" *ngIf="selectedPublications.length === 0">
       * A source is required to submit this annotation.
    </span>
    <mat-list class="publication-list" aria-label="publication selection">
      <mat-list-item *ngFor="let publication of selectedPublications">
        {{publication.publicationName}} {{publication.publicationId}}
        <span class="spacer"></span>
        <mat-icon class="remove-icon" (click)="removePublication(publication)" *ngIf="!formControlGroup.disabled && !updating">cancel</mat-icon>
      </mat-list-item>
    </mat-list>
     <form [formGroup]="formControlGroup" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="form-content-section" fxFlex="100">
        <mat-form-field class="phenotype-form" appearance="fill">
          <mat-label>HPO Term</mat-label>
          <input matInput formControlName="hpoFormControl" ngDefaultControl
                 [matAutocomplete]="hpo" required>
          <button mat-button *ngIf="formControlGroup.get('hpoFormControl').value != null" matSuffix mat-icon-button
                  aria-label="Clear" (click)="formControlGroup.get('hpoFormControl').reset()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint *ngIf="!selectedHpo">e.g. arachnodactyly</mat-hint>
          <mat-error *ngIf="formControlGroup.get('hpoFormControl').hasError('notFound')">
            Looks like there was an error with the HPO API.
          </mat-error>
          <mat-autocomplete #hpo="matAutocomplete" (optionSelected)="selectedHpo = $event.option.value"
                            [displayWith]="utilityService.displayHpoFn">
            <mat-option class="auto-complete-option" *ngFor="let option of hpoOptions" [value]="option">
              <span class="option-name">{{option.name}}</span>
              &nbsp;
              <span class="option-id">{{option.id}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div [ngClass]="{'qualifier': formControlGroup.get('hpoFormControl').value == null, 'fr': true}">
          <mat-checkbox aria-label="Is Qualified?" formControlName="qualifierFormControl"
                        [(ngModel)]="selectedQualifier">
            NOT CHARACTERIZED <span class="form-field-help-icon material-icons"
                                    matTooltip="Is this disorder characterized by the hpo feature?"
                                    matTooltipPosition="below">
              help_outline
            </span>
          </mat-checkbox>
        </div>
      </div>
      <div class="form-content-section" fxFlex="100">
        <mat-form-field class="phenotype-form" appearance="fill">
          <mat-label>HPO Clinical Modifiers</mat-label>
          <mat-hint>The speed of progression, triggering factors, location or severity.</mat-hint>
          <mat-chip-list #chipList aria-label="Modifier Selection" [disabled]="formControlGroup.get('modifierFormControl').disabled">
            <mat-chip
              *ngFor="let modifier of selectedModifiers"
              [removable]="true"
              (removed)="removeModifiers(modifier)">
              {{modifier}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Add HPO Modifier"
              #modifierInput
              formControlName="modifierFormControl"
              [matAutocomplete]="modifier"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
          </mat-chip-list>
          <mat-autocomplete #modifier="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let modifier of modifierOptions" [value]="modifier.ontologyId">
              <span class="option-name">{{modifier.name}}</span>&nbsp;
              <span class="option-id">{{modifier.ontologyId}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="form-content-section">
        <mat-form-field appearance="fill">
          <mat-label>HPO Age Of Onset</mat-label>
          <mat-select formControlName="onsetFormControl">
            <mat-option *ngFor="let option of onsetOptions | async" [value]="option">
              <span class="option-name">{{option.name}}</span>&nbsp;
              <span class="option-id">{{option.ontologyId}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="ml1">
          <mat-label>HPO Frequency</mat-label>
          <input matInput placeholder="..." formControlName="frequencyFormControl" ngDefaultControl
                 [matAutocomplete]="frequency">
          <button mat-button *ngIf="formControlGroup.get('frequencyFormControl').value != null" matSuffix mat-icon-button
                  aria-label="Clear" (click)="formControlGroup.get('frequencyFormControl').reset(); frequencyOptions = []">
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint *ngIf="formControlGroup.get('frequencyFormControl').value != null">e.g. 10/20, 50% or Frequent</mat-hint>
          <mat-error *ngIf="formControlGroup.get('frequencyFormControl').hasError('notFound')">
            Looks like there was an error with the HPO API.
          </mat-error>
          <mat-autocomplete #frequency="matAutocomplete" (optionSelected)="selectedFrequency = $event.option.value"
                            [displayWith]="utilityService.displayMaxoFn">
            <mat-option class="auto-complete-option" *ngFor="let option of frequencyOptions" [value]="option">
              <span class="option-name">{{option.name}}</span>&nbsp;
              <span class="option-id">{{option.ontologyId}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field appearance="fill" class="ml1" >
          <mat-label>Sex</mat-label>
          <mat-select formControlName="sexFormControl">
            <mat-option value="FEMALE">
              FEMALE
            </mat-option>
            <mat-option value="MALE">
              MALE
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-content-section">
        <mat-form-field appearance="fill" class="evidence">
          <mat-label>Evidence</mat-label>
          <mat-select formControlName="evidenceFormControl">
            <mat-option value="TAS">Traceable Author Statement</mat-option>
            <mat-option value="PCS">Published Clinical Study</mat-option>
            <mat-option value="IEA" [disabled]="true">Inferred Electronic Annotation</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-content-section">
        <mat-form-field class="phenotype-form">
          <mat-label>Additional Annotation Description</mat-label>
          <input matInput type="text" formControlName="descriptionFormControl">
          <button mat-button *ngIf="formControlGroup.get('descriptionFormControl').value != ''" matSuffix mat-icon-button
                  aria-label="Clear"
                  (click)="formControlGroup.get('descriptionFormControl').reset()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <div class="left-actions">
      <button class="approve-annotation" mat-raised-button aria-label="Approve Phenotype Annotation"
              *ngIf="userService.isElevatedCurator(userRole) && utilityService.isUnderReview(this.selectedAnnotation)" (click)="reviewAnnotation('approve')">
        Approve
      </button>
      <button class="deny-annotation" mat-raised-button aria-label="Deny Phenotype Annotation"
              *ngIf="userService.isElevatedCurator(userRole) && utilityService.isUnderReview(this.selectedAnnotation)" (click)="reviewAnnotation('deny')">
        Deny
      </button>
      <button mat-raised-button color="primary" *ngIf="everythingValid()" (click)="submitForm()">SUBMIT</button>
      <mat-spinner color="accent" [diameter]="20" mode="indeterminate" *ngIf="savingAnnotation"></mat-spinner>
    </div>
    <div class="right-actions">
      <button mat-stroked-button (click)="resetPhenotypeForm()" *ngIf="!formControlGroup.disabled">Clear</button>
    </div>
  </mat-card-actions>
</mat-card>
