<mat-card class="phenotype-card">
  <mat-card-title>
    <mat-icon class="mode-icon lock" *ngIf="formControlGroup.disabled"
              matTooltip="View Mode Only"
              matTooltipPosition="below">
      lock
    </mat-icon>
    <mat-icon class="mode-icon unlock" *ngIf="!formControlGroup.disabled"
              matTooltip="Editing Mode"
              matTooltipPosition="below">
      lock_open
    </mat-icon>
    New Treatment
    <!--<mat-icon class="help-icon" matTooltip="View Previous Versions"
              matTooltipPosition="below">history</mat-icon>-->
    <mat-icon class="help-icon" matTooltip="Use Phenotypic Abnormality when annotating to the disease itself."
              matTooltipPosition="below">help_outline
    </mat-icon>
  </mat-card-title>
  <mat-card-subtitle>
    Human Phenotype Ontology [ HPO ] <br><br>
  </mat-card-subtitle>
  <mat-card-content>
    <button mat-raised-button color="primary" (click)="selectPublication()"
            *ngIf="selectedPublications.length === 0">Select Publication
    </button>
    <mat-list class="publication-list" aria-label="publication selection">
      <mat-list-item *ngFor="let publication of selectedPublications">
        {{publication.publicationName}} {{publication.publicationId}}
        <mat-icon (click)="remove(publication)" *ngIf="!formControlGroup.disabled && !updating">cancel</mat-icon>
      </mat-list-item>
    </mat-list>
    <form [formGroup]="formControlGroup">
      <div class="form-content-section">
        <mat-form-field class="maxo-form" appearance="fill">
          <mat-label>HPO Term</mat-label>
          <input matInput placeholder="Search for an HPO Term" formControlName="hpoFormControl" ngDefaultControl
                 [matAutocomplete]="hpo">
          <button mat-button *ngIf="formControlGroup.get('hpoFormControl').value != null" matSuffix mat-icon-button
                  aria-label="Clear" (click)="resetHpoTermSelect()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint *ngIf="!selectedHpo">Try: arachnodactyly</mat-hint>
          <mat-error *ngIf="formControlGroup.get('hpoFormControl').hasError('notFound')">
            Looks like there was an error with the HPO API.
          </mat-error>
          <mat-autocomplete #hpo="matAutocomplete" (optionSelected)="selectedHpo = $event.option.value"
                            [displayWith]="displayHpoFn">
            <mat-option class="auto-complete-option" *ngFor="let option of hpoOptions" [value]="option">
              <span class="option-name">{{option.name}}</span>
              &nbsp;
              <span class="option-id">{{option.id}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="form-content-section">
        <mat-form-field class="maxo-form" appearance="fill">
          <mat-label>MAxO Term</mat-label>
          <input matInput placeholder="Search for a MAxO Term" formControlName="maxoFormControl" ngDefaultControl
                 [matAutocomplete]="maxoAuto">
          <button mat-button *ngIf="formControlGroup.get('maxoFormControl').value != null"
                  matSuffix mat-icon-button aria-label="Clear" (click)="resetMaxoTermSelect()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint *ngIf="!selectedTreatment">Try: cognitive therapy</mat-hint>
          <mat-error *ngIf="formControlGroup.get('maxoFormControl').hasError('notFound')">
            Looks like there was an error with the MAxO API.
          </mat-error>
          <mat-autocomplete #maxoAuto="matAutocomplete" (optionSelected)="selectedTreatment = $event.option.value"
                            [displayWith]="displayMaxoFn">
            <mat-option class="auto-complete-option" *ngFor="let option of maxoOptions" [value]="option">
              <span class="option-name">{{option.name}}</span>
              &nbsp;
              <span class="option-id">{{option.ontologyId}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="form-content-section">
        <mat-form-field appearance="fill">
          <mat-label>Evidence</mat-label>
          <mat-select formControlName="evidenceFormControl">
            <mat-option [value]="'TAS'">TAS</mat-option>
            <mat-option [value]="'IEA'">IEA</mat-option>
            <mat-option [value]="'PCS'">PCS</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="relation">
          <mat-label>Relation</mat-label>
          <mat-select formControlName="relationFormControl">
            <mat-option [value]="'TREATS'">TREATS</mat-option>
            <mat-option [value]="'PREVENTS'">PREVENTS</mat-option>
            <mat-option [value]="'INVESTIGATES'">INVESTIGATES</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-content-section">
        <mat-form-field class="maxo-form">
          <mat-label>CHEBI Extension</mat-label>
          <input matInput type="text" formControlName="extensionFormControl">
          <button mat-button *ngIf="formControlGroup.get('extensionFormControl').value != ''" matSuffix mat-icon-button
                  aria-label="Clear"
                  (click)="formControlGroup.get('extensionFormControl').reset()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="form-content-section">
        <mat-form-field class="maxo-form">
          <mat-label>Additional Annotation Comment</mat-label>
          <input matInput type="text" formControlName="commentFormControl">
          <button mat-button *ngIf="formControlGroup.get('commentFormControl').value != ''" matSuffix mat-icon-button
                  aria-label="Clear"
                  (click)="formControlGroup.get('commentFormControl').reset()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <div class="left-actions">
      <button mat-raised-button color="primary" *ngIf="everythingValid()" (click)="submitForm()">SUBMIT</button>
      <mat-spinner color="accent" [diameter]="20" mode="indeterminate" *ngIf="savingAnnotation"></mat-spinner>
    </div>
    <div class="right-actions">
      <button mat-stroked-button *ngIf="!formControlGroup.disabled">Save Draft</button>
      <button mat-stroked-button (click)="resetMaxoForm()" *ngIf="!formControlGroup.disabled">Clear</button>
      <button mat-stroked-button (click)="closeForm()" *ngIf="formControlGroup.disabled">Close</button>
    </div>
  </mat-card-actions>
</mat-card>
