<mat-card class="treatment-card form-card">
  <mat-card-title>
    <mat-icon class="form-icon-left lock" *ngIf="formControlGroup.disabled"
              matTooltip="View Mode Only"
              matTooltipPosition="below">
      lock
    </mat-icon>
    <mat-icon class="form-icon-left unlock" *ngIf="!formControlGroup.disabled"
              matTooltip="Editing Mode"
              matTooltipPosition="below">
      lock_open
    </mat-icon>
    <mat-icon class="form-icon-left messages"
              *ngIf="utilityService.hasReviewerComments(selectedAnnotation) &&
              utilityService.isNeedsWork(this.selectedAnnotation)"
              (click)="utilityService.openMessagesDialog(this.selectedAnnotation.reviewMessages)">
      mark_chat_unread
    </mat-icon>
    New Treatment
    <mat-icon class="help-icon" (click)="closeForm()">cancel</mat-icon>
  </mat-card-title>
  <mat-card-subtitle>
    Medical Action Ontology [ MAxO ] <br>
    <p class="extra-information" *ngIf="selectedAnnotation?.owner.nickname">
      {{selectedAnnotation.owner.nickname}} updated on {{selectedAnnotation.lastUpdatedDate | date: 'medium':"EST"}} </p>
  </mat-card-subtitle>
  <mat-card-content>
    <button mat-raised-button color="primary" (click)="selectPublication()" class="required"
            *ngIf="selectedPublications.length === 0">Select Source
    </button>
    <span class="source-required" *ngIf="selectedPublications.length === 0">
       * A source is required to submit this annotation.
    </span>
    <mat-list class="publication-list" aria-label="publication selection">
      <mat-list-item *ngFor="let publication of selectedPublications">
          <span *ngIf="!utilityService.isDiseaseSource(publication.publicationId)">
            {{publication.publicationName}} {{publication.publicationId}}
          </span>
          <span *ngIf="utilityService.isDiseaseSource(publication.publicationId)">
            {{publication.publicationName}}{{publication.publicationId}}
          </span>
        <span class="spacer"></span>
        <mat-icon class="remove-icon" matListIcon (click)="remove(publication)" *ngIf="!formControlGroup.disabled && !updating">cancel</mat-icon>
      </mat-list-item>
    </mat-list>
    <form [formGroup]="formControlGroup">
      <div class="form-content-section">
        <mat-form-field class="treatment-form" appearance="fill">
          <mat-label>HPO Term</mat-label>
          <mat-hint *ngIf="!formControlGroup.get('hpoFormControl').hasError('notFound') &&
          !formControlGroup.get('hpoFormControl').hasError('apiError') && !formControlGroup.disabled">
            Try: arachnodactyly</mat-hint>
          <mat-hint *ngIf="formControlGroup.get('hpoFormControl').hasError('notFound') && !formControlGroup.disabled">
            <span class="mat-error">Sorry we could not find what you were looking for!</span>
          </mat-hint>
          <mat-hint *ngIf="formControlGroup.get('hpoFormControl').hasError('apiError') && !formControlGroup.disabled">
            <span class="mat-error">The connection for this data is broken, please contact us!</span>
          </mat-hint>
          <input matInput placeholder="Search for an HPO Term" formControlName="hpoFormControl" ngDefaultControl
                 [matAutocomplete]="hpo" required>
          <button mat-button *ngIf="formControlGroup.get('hpoFormControl').value != null" matSuffix mat-icon-button
                  aria-label="Clear" (click)="formControlGroup.get('hpoFormControl').reset()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-autocomplete #hpo="matAutocomplete" (optionSelected)="selectedHpo = $event.option.value"
                            [displayWith]="utilityService.displayHpoFn">
            <mat-option *ngIf="loadingHpoSuggestions">
              <mat-progress-bar mode="query"></mat-progress-bar>
            </mat-option>
            <mat-option class="auto-complete-option" *ngFor="let option of hpoOptions" [value]="option">
              <span class="option-name">{{option.name}}</span>
              &nbsp;
              <span class="option-id">{{option.id}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="form-content-section">
        <mat-form-field class="treatment-form" appearance="fill">
          <mat-label>MAxO Term</mat-label>
          <mat-hint *ngIf="!formControlGroup.get('maxoFormControl').hasError('notFound') &&
          !formControlGroup.get('maxoFormControl').hasError('apiError') && !formControlGroup.disabled">
            Try: calcium assessment</mat-hint>
          <mat-hint *ngIf="formControlGroup.get('maxoFormControl').hasError('notFound') && !formControlGroup.disabled">
            <span class="mat-error">Sorry we could not find what you were looking for!</span>
          </mat-hint>
          <mat-hint *ngIf="formControlGroup.get('maxoFormControl').hasError('apiError') && !formControlGroup.disabled">
            <span class="mat-error">The connection for this data is broken, please contact us!</span>
          </mat-hint>
          <input matInput placeholder="Search for a MAxO Term" formControlName="maxoFormControl" ngDefaultControl
                 [matAutocomplete]="maxoAuto" required>
          <button mat-button *ngIf="formControlGroup.get('maxoFormControl').value != null"
                  matSuffix mat-icon-button aria-label="Clear" (click)="formControlGroup.get('maxoFormControl').reset()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-autocomplete #maxoAuto="matAutocomplete" (optionSelected)="selectedTreatment = $event.option.value"
                            [displayWith]="utilityService.displayMaxoFn">
            <mat-option *ngIf="loadingMaxoSuggestions">
              <mat-progress-bar mode="query"></mat-progress-bar>
            </mat-option>
            <mat-option class="auto-complete-option" *ngFor="let option of maxoOptions" [value]="option">
              <span class="option-name">{{option.name}}</span>
              &nbsp;
              <span class="option-id">{{option.ontologyId}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="form-content-section">
        <mat-form-field appearance="fill" >
          <mat-label>Relation</mat-label>
          <mat-select formControlName="relationFormControl" required>
            <mat-option [value]="'TREATS'">TREATS</mat-option>
            <mat-option [value]="'PREVENTS'">PREVENTS</mat-option>
            <mat-option [value]="'INVESTIGATES'">INVESTIGATES</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="ml1 evidence">
          <mat-label>Evidence</mat-label>
          <mat-select formControlName="evidenceFormControl">
            <mat-option value="TAS">Traceable Author Statement</mat-option>
            <mat-option value="PCS">Published Clinical Study</mat-option>
            <mat-option value="IEA" [disabled]="true">Inferred Electronic Annotation</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-content-section">
        <mat-form-field class="treatment-form" appearance="fill">
          <mat-label>CHEBI Extension</mat-label>
          <mat-hint *ngIf="!formControlGroup.get('extensionFormControl').hasError('notFound') &&
          !formControlGroup.get('extensionFormControl').hasError('apiError') && !formControlGroup.disabled">
            Try: CHEBI:27732</mat-hint>
          <mat-hint *ngIf="formControlGroup.get('extensionFormControl').hasError('notFound') && !formControlGroup.disabled">
            <span class="mat-error">Sorry we could not find what you were looking for!</span>
          </mat-hint>
          <mat-hint *ngIf="formControlGroup.get('extensionFormControl').hasError('apiError') && !formControlGroup.disabled">
            <span class="mat-error">The connection for this data is broken, please contact us!</span>
          </mat-hint>
          <input matInput placeholder="..." formControlName="extensionFormControl" ngDefaultControl
                 [matAutocomplete]="extensionAuto">
          <button mat-button *ngIf="formControlGroup.get('extensionFormControl').value != null"
                  matSuffix mat-icon-button aria-label="Clear" (click)="formControlGroup.get('extensionFormControl').reset()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-autocomplete #extensionAuto="matAutocomplete"
                            [displayWith]="displayMonarchSearchFn.bind(this)">
            <mat-option *ngIf="loadingExtensionSuggestions">
              <mat-progress-bar mode="query"></mat-progress-bar>
            </mat-option>
            <mat-option class="auto-complete-option" *ngFor="let option of chebiOptions" [value]="option">
              <span class="option-name">{{option.label[0]}}</span>
              &nbsp;
              <span class="option-id">{{option.id}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="form-content-section">
        <mat-form-field class="treatment-form" appearance="fill">
          <mat-label>Additional Annotation Comment</mat-label>
          <input matInput type="text" formControlName="commentFormControl">
          <button mat-button *ngIf="formControlGroup.get('commentFormControl').value != ''" matSuffix mat-icon-button
                  aria-label="Clear"
                  (click)="formControlGroup.get('commentFormControl').reset()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <div class="left-actions">
      <button class="approve-annotation" mat-raised-button aria-label="Approve Treatment Annotation"
              *ngIf="utilityService.showElevatedActions(userRole, selectedAnnotation)" (click)="reviewAnnotation('approve')">
        {{elevatedButtonText.approve.display}}
      </button>
      <button class="deny-annotation" mat-raised-button aria-label="Deny Treatment Annotation"
              *ngIf="utilityService.showElevatedActions(userRole, selectedAnnotation)" (click)="reviewAnnotation('deny')">
        {{elevatedButtonText.deny.display}}
      </button>
      <button class="edit-annotation" mat-raised-button aria-label="Edit Treatment Annotation"
              *ngIf="utilityService.showElevatedActions(userRole, selectedAnnotation) && elevatedButtonText.changes.show"
              (click)="makeAnnotationChanges()">
        {{elevatedButtonText.changes.display}}
      </button>
      <button mat-raised-button color="primary" *ngIf="everythingValid()" (click)="submitForm()">SUBMIT</button>
      <mat-spinner color="accent" [diameter]="20" mode="indeterminate" *ngIf="savingAnnotation"></mat-spinner>
    </div>
    <div class="right-actions">
      <button mat-stroked-button (click)="resetTreatmentForm()" *ngIf="!formControlGroup.disabled">Clear</button>
    </div>
  </mat-card-actions>
</mat-card>
