<div class="dashboard-wrapper">
  <div class="dashboard-header" fxLayout="row wrap" fxLayoutAlign="center center">
    <img class="logo-title" src="assets/poet-logo_white-banner.png" fxFlex="12"/>
    <span fxFill></span>
    <div fxFlex="35">
      <div class="search-wrapper">
        <app-search [role]="userRole"></app-search>
      </div>
    </div>
  </div>
  <div class="dashboard" fxLayout="row wrap" fxLayoutAlign="center stretch" fxLayoutGap=" grid" >
    <div class="dashboard-card" fxFlex="33" fxFlex.lt-sm="90" fxFlexOffset.lt-sm="5">
        <mat-card class="reviews">
          <mat-card-title>
            User Activity
          </mat-card-title>
          <mat-card-content>
            <div class="card-filters">
              <mat-radio-group aria-label="Select an option" (change)="getUserActivity($event.value)" value="1">
                <mat-radio-button value="1">1 Week</mat-radio-button>
                <mat-radio-button value="4">1 Month</mat-radio-button>
                <mat-radio-button value ="24">6 Months</mat-radio-button>
              </mat-radio-group>
            </div>
            <mat-list *ngFor="let recent of recentUserActivity | slice: lowValue:highValue">
              <mat-list-item (click)="navigateToDisease(recent.diseaseId, recent.type)" class="activity-item">
                <p>{{recent.view}}</p>
              </mat-list-item>
            </mat-list>
            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
            <p class="no-activity" *ngIf="recentUserActivity?.length == 0">No Recent Activity.</p>
            <mat-paginator *ngIf="recentUserActivity?.length > 0" [length]="recentUserActivity?.length" pageSize="5"
                           (page)="getPaginatorData($event)"
                           showFirstLastButtons="false" hidePageSize="true">
            </mat-paginator>
          </mat-card-content>
        </mat-card>
    </div>
    <div class="dashboard-card" fxFlex="33" fxFlex.lt-sm="90" fxFlexOffset.lt-sm="5" *ngIf="diseaseActivity.length > 3">
      <mat-card class="reviews">
        <mat-card-title>
          Active Disease Curation
        </mat-card-title>
        <mat-card-content #containerRef>
          <ngx-charts-bar-horizontal
            [results]="diseaseActivity"
            [view]="[containerRef.offsetWidth, 200]"
            xAxis="true"
            yAxis="true"
            showXAxisLabel="true"
            xAxisLabel="Annotation Actions"
            (select)="onDiseaseActivitySelect($event)">
          </ngx-charts-bar-horizontal>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="dashboard-card" fxFlex="33" fxFlex.lt-sm="90" fxFlexOffset.lt-sm="5" *ngIf="userService.isRoleAdmin(userRole)">
        <mat-card class="reviews">
          <mat-card-title>
            Action Items
          </mat-card-title>
          <mat-card-content>
            <mat-list *ngFor="let review of reviews">
              <mat-list-item class="activity-item">
                <p>{{review.count}} {{review.type}} annotations ready to be reviewed for {{review.diseaseName}}.</p>
                <span class="spacer"></span>
                <button mat-stroked-button (click)="navigateToDisease(review.diseaseId, review.type)">View</button>
              </mat-list-item>
            </mat-list>
            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
            <p class="no-activity" *ngIf="reviews?.length == 0  && !loading">No annotations need review!</p>
          </mat-card-content>
        </mat-card>
    </div>
    <div class="dashboard-card" fxFlex="33" fxFlex.lt-sm="90" fxFlexOffset.lt-sm="5" *ngIf="!userService.isRoleAdmin(userRole)">
      <mat-card class="reviews">
        <mat-card-title>
          Action Items
        </mat-card-title>
        <mat-card-content>
          <mat-list *ngFor="let annotation of userAnnotations">
            <mat-list-item class="activity-item">
              <p>{{annotation.count}} {{annotation.type}} annotations need work for {{annotation.diseaseName}}.</p>
              <span class="spacer"></span>
              <button mat-stroked-button (click)="navigateToDisease(annotation.diseaseId, annotation.type)">View</button>
            </mat-list-item>
          </mat-list>
          <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
          <p class="no-activity" *ngIf="userAnnotations?.length == 0 && !loading">No work needs to be done!</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
