<div class="dashboard-wrapper">
  <div class="dashboard-header" fxLayout="row wrap" fxLayoutAlign="center center">
    <img class="logo-title" src="assets/poet-logo_white-banner.png" fxFlex="12"/>
    <span fxFill></span>
    <div fxFlex="35">
      <div class="search-wrapper">
        <app-search [role]="userRole"></app-search>
      </div>
    </div>
  </div>
  <div class="dashboard">
    <div fxLayout="row wrap" fxLayoutGap="10px grid">
      <div fxFlex="50">
        <mat-card class="review-card">
          <mat-card-title>
            Activity
          </mat-card-title>
          <mat-card-content>
            <mat-list *ngFor="let recent of recentActivity | slice: lowValue:highValue">
              <mat-list-item [routerLink]="'/curate/' + recent.diseaseId" class="activity-item">
                <p>{{recent.view}}</p>
              </mat-list-item>
            </mat-list>
            <mat-progress-bar *ngIf="loading"></mat-progress-bar>
            <p class="no-activity" *ngIf="recentActivity?.length == 0">No Recent Activity.</p>
            <mat-paginator *ngIf="recentActivity?.length > 0" [length]="recentActivity?.length" pageSize="5"
                           (page)="getPaginatorData($event)"
                           showFirstLastButtons="false" hidePageSize="true">
            </mat-paginator>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="50" *ngIf="userService.isElevatedCurator(userRole)">
        <mat-card class="reviews">
          <mat-card-title>
            Review Curation
          </mat-card-title>
          <mat-card-content>
            <mat-list *ngFor="let review of reviews">
              <mat-list-item class="activity-item">
                <p>{{review.count}} {{review.type}} annotations ready to be reviewed for {{review.diseaseName}}.</p>
                <span class="spacer"></span>
                <button mat-stroked-button [routerLink]="'/curate/' + review.diseaseId + '/' + review.type">View</button>
              </mat-list-item>
            </mat-list>
            <mat-progress-bar *ngIf="loading"></mat-progress-bar>
            <p class="no-activity" *ngIf="reviews?.length == 0">You are all caught up on annotations that need a review!</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="50" *ngIf="!userService.isElevatedCurator(userRole)">
        <mat-card class="reviews">
          <mat-card-title>
            Work Items
          </mat-card-title>
          <mat-card-content>
              <mat-list *ngFor="let annotation of userAnnotations">
                <mat-list-item class="activity-item">
                  <p>{{annotation.count}} {{annotation.type}} annotations need work for {{annotation.diseaseName}}.</p>
                  <span class="spacer"></span>
                  <button mat-stroked-button [routerLink]="'/curate/' + annotation.diseaseId + '/' + annotation.type">View</button>
                </mat-list-item>
              </mat-list>
            <mat-progress-bar *ngIf="loading"></mat-progress-bar>
            <p class="no-activity" *ngIf="userAnnotations?.length == 0">You have no annotations that need work!</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

<!--<mat-tab label="Contributions" [disabled]="noContributions()">
  <div class="chart-wrapper" *ngIf="!noContributions()">
    <ngx-charts-pie-chart
      [results]="pieData"
      legend="true"
      legendTitle="Legend"
      legendPosition="bottom"
      explodeSlices="true"
      gradient="true"
      scheme="ocean"
    >
    </ngx-charts-pie-chart>
  </div>
</mat-tab>-->
<!--  <div fxflexlayout="row" class="flex-row">-->
<!--    <mat-card class="contribution-donut-card" fxFlex="40" fxFlexOffset="10">-->
<!--      <mat-card-title>-->
<!--        Contributions-->
<!--      </mat-card-title>-->
<!--      <mat-card-content>-->
<!--        <div class="no-contributions" *ngIf="pieData?.length === 0">-->
<!--          <p>No official contributions yet!</p>-->
<!--          <button mat-raised-button color="accent">Get Started</button>-->
<!--        </div>-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--    <mat-card class="contribution-overtime-card" fxFlex="40">-->
<!--      <mat-card-title>-->
<!--        Daily Activity-->
<!--      </mat-card-title>-->
<!--      <mat-card-content>-->
<!--        <div class="chart-wrapper">-->
<!--          <ngx-charts-line-chart-->
<!--            [results]="lineData"-->
<!--            [view]="[650, 300]"-->
<!--            xAxis="Day"-->
<!--            yAxis="Annotations"-->
<!--            showXAxisLabel="true"-->
<!--            showYAxisLabel="true"-->
<!--            gradient="true"-->
<!--            scheme="ocean"-->
<!--          >-->
<!--          </ngx-charts-line-chart>-->
<!--        </div>-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--  </div>-->
  </div>
</div>
